.node-red_project_count/.flows.json.backup
[
    {
        "id": "f69312076bb95996",
        "type": "tab",
        "label": "Basic Count Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8896598dfb74748c",
        "type": "group",
        "z": "f69312076bb95996",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "8e57b949301535ff",
            "40dd98edefacbfeb",
            "2c0caf796cd63d0e",
            "ee4d21a02dc77d76",
            "31061fbfd67e3e44",
            "cb5bd06e4d986184",
            "e207c57ab5d541f5",
            "be45d7d87d25809a",
            "b0a3ccad6d276ce8",
            "a3d78a2661a5f910",
            "3f2c9ded7b6973d1",
            "a83dfe4e7a42b076",
            "ed9539d47a77df48",
            "f011d5c48d5eeaa2",
            "80a304505bc48c3e",
            "8167b13b703f933c"
        ],
        "x": 94,
        "y": 79,
        "w": 1052,
        "h": 262
    },
    {
        "id": "d3760f4172c763a6",
        "type": "group",
        "z": "f69312076bb95996",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cc9ff203a9caeea7",
            "9b4363adb5ca1441",
            "852e09495ff4be2c"
        ],
        "x": 1194,
        "y": 91.5,
        "w": 792,
        "h": 97
    },
    {
        "id": "c3495ec264fdf1d0",
        "type": "group",
        "z": "f69312076bb95996",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "95c19fc6a00fb19f",
            "fb5dbb32e75e69f5",
            "d1cb207bed205957",
            "e6716af0f3538687",
            "74abea1b341b47ad",
            "90199c17386ded4c",
            "3c722e92013d3455"
        ],
        "x": 1694,
        "y": 1379,
        "w": 1012,
        "h": 222
    },
    {
        "id": "d7416ec1d9513281",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "icon",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "bf6ce2ec840921b5",
        "type": "ui-theme",
        "name": "Tastiway Theme",
        "colors": {
            "surface": "#01274c",
            "primary": "#007ecc",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "61bc6e56e10603d1",
        "type": "global-config",
        "env": [],
        "modules": {}
    },
    {
        "id": "d6080a2e5d1dfe6f",
        "type": "ui-page",
        "name": "Production Plan",
        "ui": "d7416ec1d9513281",
        "path": "/production_plan",
        "icon": "timetable",
        "layout": "grid",
        "theme": "bf6ce2ec840921b5",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "53026aa3c68dea20",
        "type": "ui-group",
        "name": "Select Production Plan",
        "page": "d6080a2e5d1dfe6f",
        "width": "12",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2dc83d708a58e0a5",
        "type": "ui-spacer",
        "group": "53026aa3c68dea20",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": 3,
        "height": 2,
        "className": ""
    },
    {
        "id": "8b5a8b9ec8801e6b",
        "type": "ui-page",
        "name": "Process",
        "ui": "d7416ec1d9513281",
        "path": "/process",
        "icon": "play",
        "layout": "grid",
        "theme": "bf6ce2ec840921b5",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "16a799820a185e70",
        "type": "ui-group",
        "name": "Details",
        "page": "8b5a8b9ec8801e6b",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "25c1914aaf26412a",
        "type": "sqlitedb",
        "db": "/home/pi/Project/tastiway.db",
        "mode": "RWC"
    },
    {
        "id": "f8e5a7882313f0fe",
        "type": "ui-spacer",
        "group": "53026aa3c68dea20",
        "name": "spacer",
        "tooltip": "",
        "order": 5,
        "width": 12,
        "height": 1,
        "className": ""
    },
    {
        "id": "902127b30471c926",
        "type": "ui-spacer",
        "group": "16a799820a185e70",
        "name": "spacer",
        "tooltip": "",
        "order": 8,
        "width": 8,
        "height": 1,
        "className": ""
    },
    {
        "id": "dff5edc413f07f75",
        "type": "ui-spacer",
        "group": "16a799820a185e70",
        "name": "spacer",
        "tooltip": "",
        "order": 7,
        "width": 2,
        "height": 1,
        "className": ""
    },
    {
        "id": "a8102679cc6c4334",
        "type": "ui-spacer",
        "group": "16a799820a185e70",
        "name": "spacer",
        "tooltip": "",
        "order": 2,
        "width": 12,
        "height": 1,
        "className": ""
    },
    {
        "id": "f41bba26a16139f6",
        "type": "ui-spacer",
        "group": "53026aa3c68dea20",
        "name": "spacer",
        "tooltip": "",
        "order": 10,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "8e57b949301535ff",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "40dd98edefacbfeb"
            ]
        ]
    },
    {
        "id": "40dd98edefacbfeb",
        "type": "function",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "Create tables tastiway_plans",
        "func": "msg.topic = `\nCREATE TABLE IF NOT EXISTS tastiway_plans (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  start INTEGER NOT NULL,\n  end INTEGER NOT NULL,\n  orderId TEXT NOT NULL,\n  productName TEXT NOT NULL,\n  quantity INTEGER NOT NULL\n);\n`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "2c0caf796cd63d0e"
            ]
        ]
    },
    {
        "id": "2c0caf796cd63d0e",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "ee4d21a02dc77d76"
            ]
        ]
    },
    {
        "id": "ee4d21a02dc77d76",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "create table tastiway_plans",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ede334e90c6c664",
        "type": "rpi-gpio in",
        "z": "f69312076bb95996",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "20",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "0e98c478cdb04582"
            ]
        ]
    },
    {
        "id": "0e98c478cdb04582",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "add +1 count",
        "func": "var oldState = flow.get(\"oldState\") || 0;\nvar newState = msg.payload;\nvar currentOrderId = flow.get(\"currentOrderId\") || null;\n\nvar sqlMsg = null;\n\n// Only count if an order is active\nif (currentOrderId) {\n    // Rising edge detection: 0 → 1\n    if (oldState === 0 && newState === 1) {\n        sqlMsg = {\n            topic: `UPDATE current\n                    SET counts = counts + 1\n                    WHERE orderId = '${currentOrderId}';`\n        };\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Counting...\" });\n    }\n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Counting disabled\" });\n}\n\n// Save the latest state\nflow.set(\"oldState\", newState);\n\n// Only send if a count happened\nreturn sqlMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "317ec6aaa27620e1"
            ]
        ]
    },
    {
        "id": "8e4507e43a676b13",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "create row in current",
        "func": "msg.topic=`\nINSERT INTO count ( plan, count)\nVALUES ('test',0);\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1880,
        "wires": [
            [
                "eb7b3a0e05830ea3"
            ]
        ]
    },
    {
        "id": "eb7b3a0e05830ea3",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 990,
        "y": 1880,
        "wires": [
            [
                "6d21db2df8dc7a48"
            ]
        ]
    },
    {
        "id": "6d21db2df8dc7a48",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "set countingEnabled",
        "func": "if (!msg.error && msg.topic && msg.topic.toUpperCase().includes(\"INSERT INTO\")) {\n    flow.set(\"countingEnabled\", true);\n    node.status({ fill: \"green\", text: \"Counting enabled\" });\n} else {\n    flow.set(\"countingEnabled\", false);\n    node.status({ fill: \"red\", text: \"Counting disabled\" });\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "317ec6aaa27620e1",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 510,
        "y": 1180,
        "wires": [
            [
                "231d11e98ba1955a"
            ]
        ]
    },
    {
        "id": "231d11e98ba1955a",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Retrieve count",
        "func": "var currentOrderId = flow.get(\"currentOrderId\") || null;\nvar sqlMsg = null;\n\n// if start is pressed\nif (currentOrderId) {\n        sqlMsg = {topic : `\n            SELECT counts\n            FROM current\n            WHERE orderId = '${currentOrderId}';\n        `};\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Retrieving counts\" }); \n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Counting disabled\" });\n}\n\nreturn sqlMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1180,
        "wires": [
            [
                "447ef07a2ae008b3"
            ]
        ]
    },
    {
        "id": "447ef07a2ae008b3",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 930,
        "y": 1180,
        "wires": [
            [
                "1167c30a1cedc02b"
            ]
        ]
    },
    {
        "id": "1167c30a1cedc02b",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "send count value",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    const countValue = msg.payload[0].counts;\n\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Count: \" + countValue });\n\n    // Send to UI\n    msg.payload = countValue;\n    msg.type = \"currentCount\";    \n    msg.value = countValue;    \n\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Count: 0\" });\n    msg.payload = 0;\n    msg.type = \"currentCount\";    \n    msg.value = 0;\n    \n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1180,
        "wires": [
            [
                "9c0a05a7de101d95",
                "26d222d71a3d8ff4",
                "48c22faf28975cc3"
            ]
        ]
    },
    {
        "id": "ae13bab034a8c453",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "PP Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "387dc7dc7cfd6972"
            ]
        ]
    },
    {
        "id": "387dc7dc7cfd6972",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "query plans (sqlite)",
        "func": "msg.topic = \"SELECT * FROM tastiway_plans;\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "f7ab77b47925689a"
            ]
        ]
    },
    {
        "id": "3b5d722bfc436434",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "page": "",
        "ui": "",
        "name": "OrderID Cards",
        "order": 8,
        "width": "",
        "height": "",
        "head": "",
        "format": "<template>\n  <v-container fluid class=\"pa-0\">\n    <v-row dense class=\"ma-0\">\n      <template v-for=\"(plans, date) in groupedPlans\" :key=\"date\">\n        <!-- Date header -->\n        <v-col cols=\"12\" class=\"px-4 py-2\">\n          <div class=\"text-h6 font-weight-bold\">{{ date }}</div>\n        </v-col>\n\n        <!-- Cards under this date -->\n        <v-col v-for=\"(plan, index) in plans\" :key=\"date + '-' + index\" cols=\"12\" sm=\"6\" class=\"pa-2\">\n          <v-card class=\"hoverable plan-card pa-3\" outlined @click=\"selectPlan(plan)\">\n            <v-row>\n              <v-col class=\"pa-4\">\n                <div class=\"text-h6\">{{ plan.productName }}</div>\n                <div class=\"text-subtitle-1 font-weight-bold \">\n                  {{ plan.batchId }}\n                </div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  {{ plan.orderId }}\n                </div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  Quantity: {{ plan.quantity }}\n                </div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  Start: {{ new Date(plan.start).toLocaleString() }}\n                </div>\n              </v-col>\n            </v-row>\n          </v-card>\n        </v-col>\n      </template>\n    </v-row>\n  </v-container>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      selectedPlan: null,\n      planOptions: [],\n      activePic: \"\"\n    };\n  },\n\n  computed: {\n    groupedPlans() {\n      const groups = {};\n\n      // group by display date\n      this.planOptions.forEach((plan) => {\n        const date = new Date(plan.start);\n        const displayKey = date.toLocaleDateString(\"en-GB\"); // stays like \"14/11/2025\"\n\n        if (!groups[displayKey]) groups[displayKey] = [];\n        groups[displayKey].push(plan);\n      });\n\n      // sort date keys DESC but KEEP display format\n      const sorted = Object.fromEntries(\n        Object.entries(groups).sort((a, b) => {\n          const dA = new Date(a[0].split(\"/\").reverse().join(\"-\")); // 14/11/2025 → 2025-11-14\n          const dB = new Date(b[0].split(\"/\").reverse().join(\"-\"));\n          return dB - dA; // newest first\n        })\n      );\n\n      return sorted;\n    },\n  },\n\n  methods: {\n    strictEncode(str) {\n        return encodeURIComponent(str).replace(/[!'()*._~-]/g, (c) => {\n            return '%' + c.charCodeAt(0).toString(16).toUpperCase();\n        });\n    },\n    selectPlan(plan) {\n      this.selectedPlan = plan.orderId;\n      const safePic = this.strictEncode(this.activePic);\n      const safeBatch = this.strictEncode(plan.batchId);\n      const safeName = this.strictEncode(plan.productName);\n      const safeExpectedStart = this.strictEncode(plan.start);\n      const safeExpectedEnd = this.strictEncode(plan.end)\n      this.send({\n      payload:`${plan.orderId},-,${safePic},-,${safeBatch},-,${safeName},-,${plan.quantity},-,${safeExpectedStart},-,${safeExpectedEnd}`\n      });  // sending orderId and other info to Node-RED exec node\n\n      this.$router.push({\n        path: \"/dashboard/process\",\n        query: {\n          orderId: plan.orderId,\n          productName: plan.productName,\n          quantity: plan.quantity,\n          start: plan.start,\n          activePic: this.activePic\n        },\n      });\n    },\n  },\n\n  watch: {\n    msg(newMsg) {\n      if (newMsg?.type === \"activePic\") {\n        this.activePic = newMsg.value || \"\";\n      }\n\n      if (Array.isArray(newMsg?.payload)) {\n        this.planOptions = newMsg.payload.map((r) => ({\n          productName: r.productName,\n          orderId: r.orderId,\n          quantity: r.quantity ?? 0,\n          start: r.start ?? \"\",\n          batchId: r.batchId,\n          end: r.end ?? \"\", \n\n        }));\n      } else if (newMsg?.payload?.orderId) {\n        const r = newMsg.payload;\n        this.planOptions = [\n          {\n            productName: r.productName,\n            orderId: r.orderId,\n            quantity: r.quantity ?? 0,\n            start: r.start ?? \"\",\n            batchId: r.batchId,\n            end: r.end ?? \"\", \n\n          },\n        ];\n      }\n    },\n  },\n};\n\n</script>\n\n<style scoped>\n  .plan-card {\n    width: 100%;\n    cursor: pointer;\n    transition: 0.25s;\n    border-radius: 16px;\n    overflow: hidden;\n  }\n\n  .plan-card:hover {\n    background-color: #f5f5f5;\n    transform: scale(1.01);\n  }\n\n  .v-card.selected {\n    border-color: #1976d2;\n    background-color: #e3f2fd;\n  }\n\n  .v-container {\n    max-height: 100%;\n    overflow-y: auto;\n    scrollbar-width: none;\n    padding-top: 0 !important;\n  }\n</style>\n\n<script>\n(function(scope) {\n  scope.$watch(\"msg\", function(msg) {\n    if (!msg) return;\n\n    scope.$emit(\"input\", msg);\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            [
                "7088c57090ef3bb3",
                "a838e298114a1f97",
                "f74d78774be5cba9"
            ]
        ]
    },
    {
        "id": "c1b07fca4d8a1bc9",
        "type": "ui-button",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "name": "Refresh Order ID",
        "label": "Refresh Order ID",
        "order": 1,
        "width": "4",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "refresh-style",
        "icon": "refresh",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "#01274c",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "92dea9fd9848195e",
                "7e11e87ba43a3111"
            ]
        ]
    },
    {
        "id": "92dea9fd9848195e",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/fetchOrders.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "(orders) -- firestore => sqlite",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "5e16498d64ade981",
                "387dc7dc7cfd6972",
                "54deef88aa5aada4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a838e298114a1f97",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/startCounting.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "+ process&current(sqlite) &&  + status (firestore)",
        "x": 1440,
        "y": 620,
        "wires": [
            [
                "534651e93a429058",
                "6cb56de36a3e267f",
                "cf2a75d4176873e3"
            ],
            [
                "534651e93a429058"
            ],
            []
        ]
    },
    {
        "id": "2fe74988ab142866",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "fetch orders",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "92dea9fd9848195e"
            ]
        ]
    },
    {
        "id": "534651e93a429058",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "start counting",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 600,
        "wires": []
    },
    {
        "id": "5e16498d64ade981",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "fetch orders -- firestore=>sqlite",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "f7ab77b47925689a",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 650,
        "y": 680,
        "wires": [
            [
                "3b5d722bfc436434"
            ]
        ]
    },
    {
        "id": "31061fbfd67e3e44",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "cb5bd06e4d986184"
            ]
        ]
    },
    {
        "id": "cb5bd06e4d986184",
        "type": "function",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "Create table tastiway_process",
        "func": "msg.topic = `\n\nCREATE TABLE IF NOT EXISTS tastiway_process (\n  orderId TEXT NOT NULL PRIMARY KEY,\n  start INTEGER NOT NULL,\n  stop INTEGER,\n  counts INTEGER DEFAULT 0,\n  uploaded INTEGER DEFAULT 0\n);\n`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "e207c57ab5d541f5"
            ]
        ]
    },
    {
        "id": "e207c57ab5d541f5",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "be45d7d87d25809a"
            ]
        ]
    },
    {
        "id": "be45d7d87d25809a",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "create table tastiway_process",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "b0a3ccad6d276ce8",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "a3d78a2661a5f910"
            ]
        ]
    },
    {
        "id": "a3d78a2661a5f910",
        "type": "function",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "Create table current",
        "func": "msg.topic = `\n\nCREATE TABLE IF NOT EXISTS current (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  orderId TEXT NOT NULL,\n  counts INTEGER DEFAULT 0 \n);\n`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "3f2c9ded7b6973d1"
            ]
        ]
    },
    {
        "id": "3f2c9ded7b6973d1",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "a83dfe4e7a42b076"
            ]
        ]
    },
    {
        "id": "a83dfe4e7a42b076",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "create table current",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "72f4bf72b10c45e8",
        "type": "comment",
        "z": "f69312076bb95996",
        "name": "Initaitions sqlite",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "7088c57090ef3bb3",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "set flow for currentOrderId",
        "func": "// Expecting msg.orderId to come from previous node\nconst combined = msg.payload;\nconst orderId = combined.split(\",-,\")[0];\n\nif (orderId) {\n    flow.set(\"currentOrderId\", orderId);\n    node.status({ text: \"Current Order: \" + orderId });\n} else {\n    node.error(\"❌ Missing orderId argument!\", msg);\n}\nmsg.payload = orderId;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 800,
        "wires": [
            [
                "e138d2bd04e01535"
            ]
        ]
    },
    {
        "id": "5040a4cc321a9a37",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "page": "",
        "ui": "",
        "name": "Product Name view",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-container fluid class=\"pa-0 ma-0\">\n    <v-row no-gutters>\n      <v-col class=\"pa-4\">\n        <h2 class=\"text-h5 font-weight-bold mb-1\">\n          {{ productName || 'No product selected' }}\n        </h2>\n        <p class=\"text-body-1\">\n          {{ orderId ? `Order ID: ${orderId}` : '' }}\n        </p>\n      </v-col>\n    </v-row>\n  </v-container>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      productName: null,\n      orderId: null,\n    };\n  },\n  mounted() {\n    const query = this.$route.query;\n    this.productName = query.productName;\n    this.orderId = query.orderId;\n  },\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "9691b231f332fa27",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 410,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "ca38691fc478bbae",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "fetch from current",
        "func": "msg.topic=`\nSELECT * FROM current\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 1880,
        "wires": [
            [
                "9691b231f332fa27"
            ]
        ]
    },
    {
        "id": "9c0a05a7de101d95",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "current count",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1260,
        "wires": []
    },
    {
        "id": "204c7b57bb3d9ae7",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/finishCounting.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Finish Counting",
        "x": 1040,
        "y": 1380,
        "wires": [
            [
                "b59f60c8d21beb67",
                "9afa9c96f17d8eb9"
            ],
            [
                "b59f60c8d21beb67"
            ],
            [
                "b59f60c8d21beb67"
            ]
        ]
    },
    {
        "id": "b59f60c8d21beb67",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5ab907e3f5e90ab8",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "send orderId & reject",
        "func": "const orderId = flow.get(\"currentOrderId\");\nconst reject = msg.payload.rejectQty;\n\nif (!orderId) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"❌ No currentOrderId found\" });\n    node.error(\"No currentOrderId set in flow context!\");\n    return null;\n}\n\nmsg.payload = `${orderId},-,${reject}`;\n\n// // Optionally, set msg.args if your Exec node uses an array of arguments\n// msg.args = [orderId];\n\nnode.status({ text: `▶️ Sending ${orderId}` });\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1380,
        "wires": [
            [
                "204c7b57bb3d9ae7",
                "063b70f650298f26"
            ]
        ]
    },
    {
        "id": "70f1aace271b00c8",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "page": "",
        "ui": "",
        "name": "Finish Button",
        "order": 9,
        "width": "4",
        "height": 2,
        "head": "",
        "format": "<template>\n  <div class=\"text-center pa-4\">\n    <v-btn\n      class=\"finish-style\"\n      height=\"100%\"\n      width=\"100%\"\n      @click=\"onFinishClick\"\n    >\n      Finish\n    </v-btn>\n\n    <v-dialog v-model=\"dialog\" width=\"700px\">\n      <v-card title=\"Confirm Finish\">\n        <v-card-text>\n          <v-number-input\n            v-model=\"rejectQty\"\n            :reverse=\"false\"\n            controlVariant=\"split\"\n            label=\"Output Quantity\"\n            :hideInput=\"false\"\n            :inset=\"false\"\n            variant=\"outlined\"\n          />\n        </v-card-text>\n\n        <v-card-actions class=\"actions-right\">\n          <v-btn text @click=\"dialog = false\">\n            Cancel\n          </v-btn>\n\n          <v-btn\n            class=\"submit-big\"\n            color=\"red\"\n            variant=\"flat\"\n            @click=\"submit\"\n          >\n            Submit\n          </v-btn>\n        </v-card-actions>\n      </v-card>\n    </v-dialog>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      dialog: false,\n      rejectQty: null,\n      currentCount: 0,\n      machineId: \"\",\n    };\n  },\n\n  watch: {\n    msg(newMsg) {\n      if (!newMsg) return;\n\n      if (newMsg.type === \"machineId\") {\n        this.machineId = newMsg.value || \"\";\n      }\n\n      if (newMsg.type === \"currentCount\") {\n        this.currentCount = Number(newMsg.value) || 0;\n      }\n\n      if (this.isAutoFinishMachine()) {\n        this.rejectQty = this.currentCount;\n      }\n    },\n  },\n\n  methods: {\n    isAutoFinishMachine() {\n      const id = this.machineId?.trim(); \n      return (\n        id === \"TMM001\" ||\n        id === \"BPM001\" ||\n        id === \"ZTP001\" \n        || id === \"TEST001\"\n      );\n    },\n\n    onFinishClick() {\n      \n      if (!this.machineId) return;\n\n      if (this.isAutoFinishMachine()) {\n        this.rejectQty = this.currentCount;\n        this.sendPayload();\n        return; \n      }\n      \n      // Only open dialog for non-auto-finish machines\n      this.dialog = true;\n    },\n\n    submit() {\n      this.sendPayload();\n      this.dialog = false;\n    },\n\n    sendPayload() {\n      const reject = Number(this.rejectQty ?? 0);\n      const payloadValue = `${this.currentCount - reject}`;\n      this.send({\n        payload: {\n          rejectQty: payloadValue,\n        },\n      });\n      this.$root.$router.push(\"/production_plan\");\n    },\n  },\n};\n</script>\n\n\n\n<style scoped>\n.finish-style {\n  font-weight: 600;\n  color: white !important;\n  background: #e73c52 !important;\n  border: 0.1vw solid rgba(255, 255, 255, 0.2);\n  border-radius: 14px;\n  box-shadow:\n    0 4px 10px rgba(1, 39, 76, 0.4),\n    inset 0 0 12px rgba(255, 255, 255, 0.15);\n  text-transform: none;\n  letter-spacing: 0.5px;\n  font-size: calc(0.8vw + 0.4em);\n  padding: 0.6em 1.2em;\n  transition: all 0.25s ease;\n  cursor: pointer;\n}\n\n.v-number-input .v-icon {\n  color: #444444 !important;\n}\n\n.finish-style:hover,\n.finish-style:focus {\n  background: #b52f43 !important;\n  box-shadow:\n    0 6px 16px rgba(1, 39, 76, 0.5),\n    inset 0 0 14px rgba(255, 255, 255, 0.2);\n  border-color: rgba(255, 255, 255, 0.4);\n}\n\n.finish-style:active {\n  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);\n}\n\n.submit-big {\n  min-width: 180px;\n  padding: 20px 24px;\n  font-size: 1rem;\n  font-weight: 600;\n  border-radius: 10px;\n}\n\n.actions-right {\n  display: flex;\n  justify-content: flex-end;\n  gap: 12px;\n  padding-right: 20px;\n}\n</style>\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 1380,
        "wires": [
            [
                "5ab907e3f5e90ab8",
                "d3181f7c823461a8"
            ]
        ]
    },
    {
        "id": "ae1c765ff72ae7bb",
        "type": "ui-event",
        "z": "f69312076bb95996",
        "ui": "d7416ec1d9513281",
        "name": "",
        "x": 150,
        "y": 900,
        "wires": [
            [
                "b918c810745954df",
                "a153e30311bbef15",
                "099b519895618f53",
                "cde774c8f00f1bf7",
                "619413be92ba7adc"
            ]
        ]
    },
    {
        "id": "b918c810745954df",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "trigger in pp page",
        "func": "// Trigger only when user opens the Production Plan page\nif (\n    msg.topic === \"$pageview\" &&\n    msg.payload?.page?.path === \"/production_plan\"\n) {\n    // run your query or next logic\n    msg.topic = \"SELECT * FROM current LIMIT 1;\";\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 860,
        "wires": [
            [
                "387dc7dc7cfd6972",
                "2b906280ab491c3b"
            ]
        ]
    },
    {
        "id": "3a3e4c63811bd53c",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "d6080a2e5d1dfe6f",
        "ui": "",
        "name": "Refresh Button CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".refresh-style button {\n    font-weight: 600;\n    color: white;\n    background: linear-gradient(145deg, rgb(1, 39, 76), rgb(3, 64, 110));\n    border: 0.1vw solid rgba(255, 255, 255, 0.2);\n    border-radius: 14px;\n    box-shadow:\n        0 4px 10px rgba(1, 39, 76, 0.4),\n        inset 0 0 12px rgba(255, 255, 255, 0.15);\n    text-transform: none;\n    letter-spacing: 0.5px;\n    /* font-size: 2.3em; */\n    /* font-size: calc(1.3vw + 0.6em); */\n    font-size: calc(1vw + 0.5em);\n    padding: 0.6em 1.2em;\n    transition: all 0.25s ease;\n    cursor: pointer;\n    max-height: calc( 2 * var(--widget-row-height)); /* in case font size gets out of hand */\n    overflow: hidden; /* in case text too wide at this font size */\n}\n\n/* hover + focus feedback */\n.refresh-style button:hover,\n.refresh-style button:focus {\n    transform: scale(1.04);\n    background: linear-gradient(145deg, rgb(3, 64, 110), rgb(1, 39, 76));\n    box-shadow:\n        0 6px 16px rgba(1, 39, 76, 0.5),\n        inset 0 0 14px rgba(255, 255, 255, 0.2);\n    border-color: rgba(255, 255, 255, 0.4);\n}\n\n/* optional active press effect */\n.refresh-style button:active {\n    transform: scale(0.98);\n    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 140,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c59dfe4ed5a3e147",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "page": "",
        "ui": "",
        "name": "Elapsed TIme",
        "order": 10,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n  <v-card class=\"borderless pa-4 text-left\">\n    <div class=\"text-h5 font-weight-bold\">{{ elapsed }}</div>\n  </v-card>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      elapsedMs: 0,\n      lastStart: null,\n      interval: null,\n    };\n  },\n\n  mounted() {\n    this.startTimer();\n\n    this.$watch(\n      () => this.msg,\n      (msg) => {\n        if (!msg || msg.payload == null) return;\n\n        if (typeof msg.payload === \"number\") {\n          this.elapsedMs = msg.payload;\n          if (this.lastStart) {\n            this.lastStart = Date.now();\n          }\n          return;\n        }\n\n        const color = msg.payload;\n\n        if (color === \"green\") {\n          this.resumeTimer();\n        } else if (color === \"red\" || color === \"blue\") {\n          this.pauseTimer();\n        }\n      }\n    );\n  },\n\n  beforeUnmount() {\n    clearInterval(this.interval);\n    this.interval = null;\n  },\n\n  methods: {\n    startTimer() {\n      if (this.interval) return;\n\n      this.lastStart = Date.now();\n      this.interval = setInterval(() => {\n        if (this.lastStart) {\n          this.elapsedMs += Date.now() - this.lastStart;\n          this.lastStart = Date.now();\n        }\n      }, 1000);\n    },\n\n    pauseTimer() {\n      if (this.lastStart) {\n        this.elapsedMs += Date.now() - this.lastStart;\n        this.lastStart = null;\n      }\n    },\n\n    resumeTimer() {\n      if (!this.lastStart) {\n        this.lastStart = Date.now();\n      }\n    },\n\n    format(ms) {\n      let sec = Math.floor(ms / 1000);\n      const hrs = String(Math.floor(sec / 3600)).padStart(2, \"0\");\n      sec %= 3600;\n      const mins = String(Math.floor(sec / 60)).padStart(2, \"0\");\n      sec = String(sec % 60).padStart(2, \"0\");\n      return `${hrs}:${mins}:${sec}`;\n    }\n  },\n\n  computed: {\n    elapsed() {\n      return this.format(this.elapsedMs);\n    }\n  }\n};\n\n</script>\n\n<style>\n  .borderless {\n    border: transparent !important;\n    padding: 0;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2580,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "26d222d71a3d8ff4",
        "type": "ui-gauge",
        "z": "f69312076bb95996",
        "name": "Count Gauge",
        "group": "16a799820a185e70",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "10",
        "height": 7,
        "gtype": "gauge-34",
        "gstyle": "rounded",
        "title": "Count",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#000000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#000000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#000000",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "10",
        "sizeThickness": "24",
        "sizeGap": "0",
        "sizeKeyThickness": "0",
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1450,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "a153e30311bbef15",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "trigger in process page",
        "func": "// // Just trigger the template when user opens the Process page\n// if (\n//     msg.topic === \"$pageview\" &&\n//     msg.payload?.page?.path === \"/process\"\n// ) {\n//     return { trigger: true };    // passes the event into the UI Template\n// }\n\n// return null;\n\nif (\n    msg.topic === \"$pageview\" &&\n    msg.payload?.page?.path === \"/process\"\n) {\n    const query = msg.payload.query;\n\n    const qty = Number(query.quantity);\n\n\n    msg.payload = 0;\n    msg.ui_update = {\n        max: qty\n    };\n\n\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "26d222d71a3d8ff4"
            ]
        ]
    },
    {
        "id": "cb6cabb336cecf6e",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Documents/exitKiosk.js ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "exit kiosk mode",
        "x": 420,
        "y": 2260,
        "wires": [
            [
                "e83a8072abe1b99a"
            ],
            [
                "e83a8072abe1b99a"
            ],
            [
                "e83a8072abe1b99a"
            ]
        ]
    },
    {
        "id": "e83a8072abe1b99a",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "exit kiosk mode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 2260,
        "wires": []
    },
    {
        "id": "54c1c7e147492003",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "",
        "ui": "d7416ec1d9513281",
        "name": "Close App Button ",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n    <v-btn icon color=\"red\" variant=\"text\" @click=\"send({ payload: 'close' })\">\n      <v-icon>mdi-close</v-icon>\n    </v-btn>\n  </Teleport>\n</template>\n\n<script>\n  export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n          setTimeout(() => {\n            this.mounted = true\n          }, 10)\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 150,
        "y": 2260,
        "wires": [
            [
                "cb6cabb336cecf6e"
            ]
        ]
    },
    {
        "id": "98cbbf1d93d66571",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 2100,
        "wires": [
            [
                "a3ea43a9ebfea57b"
            ]
        ]
    },
    {
        "id": "a3ea43a9ebfea57b",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "cat /sys/class/net/wlan0/operstate",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cat operstate",
        "x": 350,
        "y": 2100,
        "wires": [
            [
                "d11fc626c2fe6aa8"
            ],
            [],
            []
        ]
    },
    {
        "id": "d11fc626c2fe6aa8",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "check connection",
        "func": "msg.payload = (msg.payload.trim() === \"up\") ? \"Connected\" : \"Disconnected\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2100,
        "wires": [
            [
                "565aa7a6d5ed08d5"
            ]
        ]
    },
    {
        "id": "565aa7a6d5ed08d5",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "",
        "ui": "d7416ec1d9513281",
        "name": "Wifi Icon ",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <Teleport v-if=\"mounted\" to=\"#app-bar-actions\">\n    <v-btn icon variant=\"text\" :color=\"wifiConnected ? 'green' : 'red'\" @click.stop=\"\">\n      <v-icon>{{ wifiConnected ? 'mdi-wifi' : 'mdi-wifi-off' }}</v-icon>\n    </v-btn>\n  </Teleport>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      mounted: false,\n      wifiConnected: false\n    };\n  },\n\n  mounted() {\n    this.mounted = true;\n  },\n\n  watch: {\n    msg(newMsg) {\n      if (!newMsg || newMsg.payload == null) return;\n      this.wifiConnected = newMsg.payload === \"Connected\";\n    }\n  }\n};\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:ui",
        "className": "",
        "x": 800,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "99bdfba52e6ed083",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "",
        "ui": "d7416ec1d9513281",
        "name": "Page Styling",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "\nbody,\n.v-application {\n    background-color: white !important;\n    font-family: monospace !important;\n}\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 690,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "754e4bad2e59674b",
        "type": "ui-button",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "name": "",
        "label": "Running",
        "order": 3,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "andon-style",
        "icon": "play",
        "iconPosition": "left",
        "payload": "green",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "msg.buttonColor",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1840,
        "y": 920,
        "wires": [
            [
                "07de2168c6005a83"
            ]
        ]
    },
    {
        "id": "d04b7a03d79bf858",
        "type": "ui-button",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "name": "",
        "label": "Assistance",
        "order": 5,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "andon-style",
        "icon": "account-question",
        "iconPosition": "left",
        "payload": "blue",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "msg.buttonColor",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1850,
        "y": 960,
        "wires": [
            [
                "07de2168c6005a83"
            ]
        ]
    },
    {
        "id": "8426445f15bb7aaa",
        "type": "ui-button",
        "z": "f69312076bb95996",
        "group": "16a799820a185e70",
        "name": "",
        "label": "Breakdown",
        "order": 6,
        "width": "2",
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "andon-style",
        "icon": "close-octagon",
        "iconPosition": "left",
        "payload": "red",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "msg.buttonColor",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1850,
        "y": 1000,
        "wires": [
            [
                "07de2168c6005a83"
            ]
        ]
    },
    {
        "id": "07de2168c6005a83",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Toggle Color Logic",
        "func": "// Get previous active color\nlet activeColor = flow.get('activeColor') || null;\nconst pressedColor = msg.payload;\n\n// Ignore if the same button is pressed\nif (pressedColor === activeColor) {\n    return null;\n}\n\n// Save the new active color\nflow.set('activeColor', pressedColor);\n\n// Construct button messages\nconst greenMsg = {\n    ui_update: {\n        buttonColor: pressedColor === 'green' ? 'green' : 'grey'\n    }\n};\n\nconst blueMsg = {\n    ui_update: {\n        buttonColor: pressedColor === 'blue' ? 'blue' : 'grey'\n    }\n};\n\nconst redMsg = {\n    ui_update: {\n        buttonColor: pressedColor === 'red' ? 'red' : 'grey'\n    }\n};\n\n\n// Output active color to downstream\nconst outputMsg = { payload: pressedColor };\n\nreturn [ greenMsg,blueMsg, redMsg, outputMsg];",
        "outputs": 4,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2110,
        "y": 940,
        "wires": [
            [
                "754e4bad2e59674b"
            ],
            [
                "d04b7a03d79bf858"
            ],
            [
                "8426445f15bb7aaa"
            ],
            [
                "c2702c05965937f5",
                "916fbe10e7e43768",
                "c59dfe4ed5a3e147"
            ]
        ]
    },
    {
        "id": "ce96c436669e48b9",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "update andon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2640,
        "y": 960,
        "wires": []
    },
    {
        "id": "c2702c05965937f5",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/andon_traffic_light.js ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "update traffic andon",
        "x": 2390,
        "y": 940,
        "wires": [
            [
                "ce96c436669e48b9"
            ],
            [],
            []
        ]
    },
    {
        "id": "c6958310caaee75b",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Toggle Color Logic",
        "func": "// Get previous active color\nlet activeColor = flow.get('activeColor') || null;\n\nconst greenMsg = {\n    ui_update: {\n        buttonColor: activeColor === 'green' ? 'green' : 'grey'\n    }\n};\n\nconst blueMsg = {\n    ui_update: {\n        buttonColor: activeColor === 'blue' ? 'blue' : 'grey'\n    }\n};\n\nconst redMsg = {\n    ui_update: {\n        buttonColor: activeColor === 'red' ? 'red' : 'grey'\n    }\n};\n\nreturn [greenMsg, blueMsg, redMsg];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 960,
        "wires": [
            [
                "754e4bad2e59674b"
            ],
            [
                "d04b7a03d79bf858"
            ],
            [
                "8426445f15bb7aaa"
            ]
        ]
    },
    {
        "id": "61cc6b94df5f95aa",
        "type": "ui-text-input",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "name": "PIC Input",
        "label": "Enter PIC",
        "order": 6,
        "width": "5",
        "height": 1,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": true,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 580,
        "y": 780,
        "wires": [
            [
                "878776d77cbcb253"
            ]
        ]
    },
    {
        "id": "878776d77cbcb253",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Update global pic ",
        "func": "global.set(\"activePic\", msg.payload);\n\nmsg.type = \"activePic\";    \nmsg.value = msg.payload;    \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 780,
        "wires": [
            [
                "3b5d722bfc436434",
                "cf971225ebabb56b"
            ]
        ]
    },
    {
        "id": "f56a16c7cbaeb9a4",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "d": true,
        "group": "53026aa3c68dea20",
        "page": "",
        "ui": "",
        "name": "OrderID Cards",
        "order": 9,
        "width": "",
        "height": "",
        "head": "",
        "format": "<template>\n  <v-container fluid class=\"pa-0\">\n    <v-row dense class=\"ma-0\">\n      <template v-for=\"(plans, date) in groupedPlans\" :key=\"date\">\n        <!-- Date header -->\n        <v-col cols=\"12\" class=\"px-4 py-2\">\n          <div class=\"text-h6 font-weight-bold\">{{ date }}</div>\n        </v-col>\n\n        <!-- Cards under this date -->\n        <v-col v-for=\"(plan, index) in plans\" :key=\"date + '-' + index\" cols=\"12\" sm=\"6\" class=\"pa-2\">\n          <v-card class=\"hoverable plan-card pa-3\" outlined @click=\"selectPlan(plan)\">\n            <v-row>\n              <v-col class=\"pa-4\">\n                <div class=\"text-h6\">{{ plan.productName }}</div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  {{ plan.orderId }}\n                </div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  Quantity: {{ plan.quantity }}\n                </div>\n                <div class=\"text-subtitle-2 grey--text\">\n                  Start: {{ new Date(plan.start).toLocaleString() }}\n                </div>\n              </v-col>\n            </v-row>\n          </v-card>\n        </v-col>\n      </template>\n    </v-row>\n  </v-container>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      selectedPlan: null,\n      planOptions: [],\n    };\n  },\n\n  computed: {\n    groupedPlans() {\n      const groups = {};\n\n      // group by display date\n      this.planOptions.forEach((plan) => {\n        const date = new Date(plan.start);\n        const displayKey = date.toLocaleDateString(\"en-GB\"); // stays like \"14/11/2025\"\n\n        if (!groups[displayKey]) groups[displayKey] = [];\n        groups[displayKey].push(plan);\n      });\n\n      // sort date keys DESC but KEEP display format\n      const sorted = Object.fromEntries(\n        Object.entries(groups).sort((a, b) => {\n          const dA = new Date(a[0].split(\"/\").reverse().join(\"-\")); // 14/11/2025 → 2025-11-14\n          const dB = new Date(b[0].split(\"/\").reverse().join(\"-\"));\n          return dB - dA; // newest first\n        })\n      );\n\n      return sorted;\n    },\n  },\n\n  methods: {\n    selectPlan(plan) {\n      this.selectedPlan = plan.orderId;\n      this.send({ payload: plan.orderId }); // sending orderId to Node-RED exec node\n\n      this.$router.push({\n        path: \"/dashboard/process\",\n        query: {\n          orderId: plan.orderId,\n          productName: plan.productName,\n          quantity: plan.quantity,\n          start: plan.start,\n        },\n      });\n    },\n  },\n\n  watch: {\n    msg(newMsg) {\n      if (Array.isArray(newMsg?.payload)) {\n        this.planOptions = newMsg.payload.map((r) => ({\n          productName: r.productName,\n          orderId: r.orderId,\n          quantity: r.quantity ?? 0,\n          start: r.start ?? \"-\",\n        }));\n      } else if (newMsg?.payload?.orderId) {\n        const r = newMsg.payload;\n        this.planOptions = [\n          {\n            productName: r.productName,\n            orderId: r.orderId,\n            quantity: r.quantity ?? 0,\n            start: r.start ?? \"-\",\n          },\n        ];\n      }\n    },\n  },\n};\n</script>\n\n<style scoped>\n  .plan-card {\n    width: 100%;\n    cursor: pointer;\n    transition: 0.25s;\n    border-radius: 16px;\n    overflow: hidden;\n  }\n\n  .plan-card:hover {\n    background-color: #f5f5f5;\n    transform: scale(1.01);\n  }\n\n  .v-card.selected {\n    border-color: #1976d2;\n    background-color: #e3f2fd;\n  }\n\n  .v-container {\n    max-height: 100%;\n    overflow-y: auto;\n    scrollbar-width: none;\n    padding-top: 0 !important;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5f7227e1e10253b9",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "d": true,
        "group": "16a799820a185e70",
        "page": "",
        "ui": "",
        "name": "Finish Button",
        "order": 11,
        "width": "4",
        "height": "2",
        "head": "",
        "format": "<template>\n  <v-btn fluid class=\"finish-style\" @click=\"handleClick\">\n    Finish\n  </v-btn>\n</template>\n\n<script>\n  export default {\n  methods: {\n    handleClick() {\n      // send a message back to Node-RED\n      this.send({ payload: \"finished\" });\n      // go back to the previous page\n      this.$root.$router.push(\"/production_plan\");\n    },\n  },\n};\n</script>\n\n<style scoped>\n  .finish-style {\n    font-weight: 600;\n    color: white !important;\n    background: #e73c52 !important;\n    /* ← you missed this semicolon */\n    border: 0.1vw solid rgba(255, 255, 255, 0.2);\n    border-radius: 14px;\n    box-shadow:\n      0 4px 10px rgba(1, 39, 76, 0.4),\n      inset 0 0 12px rgba(255, 255, 255, 0.15);\n    text-transform: none;\n    letter-spacing: 0.5px;\n        /* font-size: calc(1vw + 0.5em); */\n    font-size: calc(0.8vw + 0.4em);\n    padding: 0.6em 1.2em;\n    transition: all 0.25s ease;\n    cursor: pointer;\n    overflow: hidden;\n      max-height: calc( 2 * var(--widget-row-height)); \n  }\n\n  .finish-style:hover,\n  .finish-style:focus {\n    background: #b52f43 !important;\n    /* darker red for hover */\n    box-shadow:\n      0 6px 16px rgba(1, 39, 76, 0.5),\n      inset 0 0 14px rgba(255, 255, 255, 0.2);\n    border-color: rgba(255, 255, 255, 0.4);\n  }\n\n  .finish-style:active {\n    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "f74d78774be5cba9",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "set active color green",
        "func": "flow.set('activeColor', \"green\");\nnode.status({ text:\"green\" });\nmsg.payload = \"green\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 700,
        "wires": [
            [
                "18201862fbb66b2b",
                "c6958310caaee75b"
            ]
        ]
    },
    {
        "id": "18201862fbb66b2b",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "set active color green",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 700,
        "wires": []
    },
    {
        "id": "264320706a32fb10",
        "type": "comment",
        "z": "f69312076bb95996",
        "name": "Alter sqlite",
        "info": "",
        "x": 1240,
        "y": 60,
        "wires": []
    },
    {
        "id": "c4480e528baeb33b",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "",
        "ui": "d7416ec1d9513281",
        "name": "Page Styling",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "\nbody,\n.v-application {\n    background-color: white !important;\n    font-family: monospace !important;\n}\n\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "site:style",
        "className": "",
        "x": 1790,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "063b70f650298f26",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1480,
        "wires": []
    },
    {
        "id": "c1ad46093c13eb17",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1700,
        "wires": [
            [
                "dea2c70eed901830"
            ]
        ]
    },
    {
        "id": "63b65731e67e62b3",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 510,
        "y": 1700,
        "wires": [
            [
                "44d62556412e68e1",
                "5334aa84824bf3d4"
            ]
        ]
    },
    {
        "id": "dea2c70eed901830",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Query Current",
        "func": "msg.topic = \"SELECT * FROM current;\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1700,
        "wires": [
            [
                "63b65731e67e62b3"
            ]
        ]
    },
    {
        "id": "44d62556412e68e1",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1640,
        "wires": []
    },
    {
        "id": "5334aa84824bf3d4",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Insert into count_logs",
        "func": "const row = msg.payload;\n\nconst nowMillis = Date.now();  \n\nmsg.topic = `\n  INSERT INTO count_logs (orderId, counts, nowMillis, andon)\n  VALUES (?, ?, ?, ?)\n`;\n\nmsg.params = [\n    row.orderId,\n    row.counts,\n    nowMillis,\n    row.andon,\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1700,
        "wires": [
            [
                "a23d5fbc36faf076"
            ]
        ]
    },
    {
        "id": "a23d5fbc36faf076",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 990,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "916fbe10e7e43768",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "Update andon in current",
        "func": "const andon = flow.get('activeColor') \n\nmsg.topic = `\n  UPDATE current\n  SET andon = '${andon}'\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2390,
        "y": 820,
        "wires": [
            [
                "a3eec1c0aca38ab3"
            ]
        ]
    },
    {
        "id": "a3eec1c0aca38ab3",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 2610,
        "y": 820,
        "wires": [
            [
                "7151a0bc9c8d11d2"
            ]
        ]
    },
    {
        "id": "099b519895618f53",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "disable pp page in process",
        "func": "\nif (\n    msg.topic === \"$pageview\" &&\n    msg.payload?.page?.path === \"/process\"\n) {\n    // node.send({\n    //     payload: {\n    //         pages: {\n    //             disable: ['Production Plan']\n    //         }\n    //     }\n    // });\n    node.send({ payload: { pages: { disable: ['Production Plan'] } } });\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "1cecc0f98920ebb8"
            ]
        ]
    },
    {
        "id": "1cecc0f98920ebb8",
        "type": "ui-control",
        "z": "f69312076bb95996",
        "name": "",
        "ui": "d7416ec1d9513281",
        "events": "all",
        "x": 680,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "d3181f7c823461a8",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "enable pp page",
        "func": "node.send({ payload: { pages: { enable: ['Production Plan'] } } });\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "29104e96c189d38e"
            ]
        ]
    },
    {
        "id": "29104e96c189d38e",
        "type": "ui-control",
        "z": "f69312076bb95996",
        "name": "",
        "ui": "d7416ec1d9513281",
        "events": "all",
        "x": 980,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "7151a0bc9c8d11d2",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2780,
        "y": 820,
        "wires": []
    },
    {
        "id": "6cb56de36a3e267f",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "start process",
        "mode": "link",
        "links": [
            "90199c17386ded4c",
            "9ff2a5ae0e4506f5",
            "8e253c64873d540a"
        ],
        "x": 1665,
        "y": 540,
        "wires": []
    },
    {
        "id": "90199c17386ded4c",
        "type": "link in",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "name": "start process",
        "links": [
            "6cb56de36a3e267f"
        ],
        "x": 1955,
        "y": 1420,
        "wires": [
            [
                "95c19fc6a00fb19f"
            ]
        ]
    },
    {
        "id": "e735dc355d962d7f",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "page": "",
        "ui": "",
        "name": "manual BatchId",
        "order": 7,
        "width": 7,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-container fluid class=\"pa-4\">\n    <v-row>\n      <v-col cols=\"6\">\n        <v-text-field v-model=\"batchId\" label=\"Enter Batch ID\" outlined dense></v-text-field>\n      </v-col>\n      <v-col cols=\"3\">\n        <v-text-field v-model=\"expectedQuantity\" label=\"Quantity\" outlined dense type=\"text\" @input=\"expectedQuantity = expectedQuantity.replace(/\\D/g,'')\" />      </v-col>\n      <v-col cols=\"3\">\n        <v-btn block color=\"primary\" @click=\"submitBatch\" :disabled=\"!batchId || !expectedQuantity\">\n          Start Manual\n        </v-btn>\n      </v-col>\n    </v-row>\n  </v-container>\n\n\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      batchId: \"\",\n      activePic: \"\", \n      expectedQuantity: \"\",\n    };\n  },\n  methods: {\n    strictEncode(str) {\n        return encodeURIComponent(str).replace(/[!'()*._~-]/g, (c) => {\n            return '%' + c.charCodeAt(0).toString(16).toUpperCase();\n        });\n    },\n    submitBatch() {\n      const now = new Date();\n      const currentDate =\n        now.getFullYear().toString() +\n        String(now.getMonth() + 1).padStart(2, \"0\") +\n        String(now.getDate()).padStart(2, \"0\");\n\n      const currentTime =\n        String(now.getHours()).padStart(2, \"0\") +\n        String(now.getMinutes()).padStart(2, \"0\") +\n        String(now.getSeconds()).padStart(2, \"0\");\n\n      // first two letter of batach ID\n      const letters = \"MAN\"\n\n      const safePic = this.strictEncode(this.activePic);\n      const safeBatch = this.strictEncode(this.batchId);\n\n      const orderId = `${currentDate}-${letters}-${currentTime}`;\n      \n      const payload = {\n        productName: \"Unknown -- Manual Input\",\n        orderId,\n        quantity: this.expectedQuantity,\n        start: new Date().toISOString(),\n        batchId: safeBatch,\n        activePic: safePic,\n      };\n\n      this.send({\n  payload: `${payload.orderId},-,${payload.activePic.replace(/ /g, \"__SPACE__\")},-,${payload.batchId.replace(/ /g, \"__SPACE__\")},-,,-,${payload.quantity.replace(/ /g, \"__SPACE__\")},-,,-,`\n}); // no productName\n\n\n      \n      this.$router.push({\n        path: \"/dashboard/process\",\n        query: payload, \n      });\n    },\n  },\n  watch: {\n    msg(newMsg) {\n      if (newMsg?.type === \"activePic\") {\n        this.activePic = newMsg.value || \"\";\n      }\n    },\n  },\n};\n</script>\n\n<style scoped>\n  .v-container {\n    max-height: 100%;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "a838e298114a1f97",
                "f74d78774be5cba9",
                "7088c57090ef3bb3"
            ]
        ]
    },
    {
        "id": "cf971225ebabb56b",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "sent pic",
        "mode": "link",
        "links": [
            "31b044cccc0287b6"
        ],
        "x": 935,
        "y": 800,
        "wires": []
    },
    {
        "id": "31b044cccc0287b6",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "receive pic",
        "links": [
            "cf971225ebabb56b"
        ],
        "x": 735,
        "y": 600,
        "wires": [
            [
                "e735dc355d962d7f"
            ]
        ]
    },
    {
        "id": "be0e6cb62246ca13",
        "type": "ui-text",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "order": 2,
        "width": 2,
        "height": 0,
        "name": "Show fetching state",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "7e11e87ba43a3111",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "prepare msg",
        "func": "msg.payload = \"Fetching data ...\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "be0e6cb62246ca13"
            ]
        ]
    },
    {
        "id": "54deef88aa5aada4",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "prepare msg",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 460,
        "wires": [
            [
                "be0e6cb62246ca13"
            ]
        ]
    },
    {
        "id": "cde774c8f00f1bf7",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "disable process in pp page",
        "func": "\nif (\n    msg.topic === \"$pageview\" &&\n    msg.payload?.page?.path === \"/production_plan\"\n) {\n    // node.send({\n    //     payload: {\n    //         pages: {\n    //             disable: ['Production Plan']\n    //         }\n    //     }\n    // });\n    node.send({ payload: { pages: { disable: ['Process'] } } });\n\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 940,
        "wires": [
            [
                "eb3f27273b857a3f"
            ]
        ]
    },
    {
        "id": "eb3f27273b857a3f",
        "type": "ui-control",
        "z": "f69312076bb95996",
        "name": "",
        "ui": "d7416ec1d9513281",
        "events": "all",
        "x": 680,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "2b29f09916e00d61",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "",
        "page": "8b5a8b9ec8801e6b",
        "ui": "",
        "name": "Andon Button CSS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".andon-style button {\n    font-weight: 600;\n    color: white;\n    border: 0.1vw solid rgba(255, 255, 255, 0.2);\n    border-radius: 14px;\n    box-shadow:\n        0 4px 10px rgba(1, 39, 76, 0.4),\n        inset 0 0 12px rgba(255, 255, 255, 0.15);\n    text-transform: none;\n    letter-spacing: 0.5px;\n    \n    font-size: calc(1vw + 0.5em);\n    padding: 0.6em 1.2em;\n    transition: all 0.25s ease;\n    cursor: pointer;\n    max-height: calc( 2 * var(--widget-row-height)); /* in case font size gets out of hand */\n    overflow: hidden; /* in case text too wide at this font size */\n}\n\n/* optional active press effect */\n.refresh-style button:active {\n    transform: scale(0.98);\n    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);\n}",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 1830,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9539d47a77df48",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "create table current",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "f011d5c48d5eeaa2",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "80a304505bc48c3e"
            ]
        ]
    },
    {
        "id": "80a304505bc48c3e",
        "type": "function",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "name": "Create table log",
        "func": "msg.topic = `\n\nCREATE TABLE IF NOT EXISTS log (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  orderId TEXT NOT NULL,\n  count INTEGER DEFAULT 0,\n  timestamp INTEGER NOT NULL,\n  andon TEXT NOT NULL\n);\n`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "8167b13b703f933c"
            ]
        ]
    },
    {
        "id": "8167b13b703f933c",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "g": "8896598dfb74748c",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "ed9539d47a77df48"
            ]
        ]
    },
    {
        "id": "cc9ff203a9caeea7",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "d3760f4172c763a6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1300,
        "y": 140,
        "wires": [
            [
                "9b4363adb5ca1441"
            ]
        ]
    },
    {
        "id": "9b4363adb5ca1441",
        "type": "exec",
        "z": "f69312076bb95996",
        "g": "d3760f4172c763a6",
        "command": "node /home/pi/Project/updateSqlite.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1570,
        "y": 140,
        "wires": [
            [
                "852e09495ff4be2c"
            ],
            [
                "852e09495ff4be2c"
            ],
            []
        ]
    },
    {
        "id": "852e09495ff4be2c",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "d3760f4172c763a6",
        "name": "Alter sqlite table",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 140,
        "wires": []
    },
    {
        "id": "285531db5b35b815",
        "type": "comment",
        "z": "f69312076bb95996",
        "name": "periodic task",
        "info": "",
        "x": 1770,
        "y": 1340,
        "wires": []
    },
    {
        "id": "95c19fc6a00fb19f",
        "type": "exec",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "command": "node /home/pi/Project/update_log_status.js ",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "update log table and status",
        "x": 2180,
        "y": 1440,
        "wires": [
            [
                "fb5dbb32e75e69f5"
            ],
            [],
            []
        ]
    },
    {
        "id": "fb5dbb32e75e69f5",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "name": "update log table and status to firestore",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2510,
        "y": 1440,
        "wires": []
    },
    {
        "id": "d1cb207bed205957",
        "type": "inject",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "name": "5 mins",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/5 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1800,
        "y": 1480,
        "wires": [
            [
                "95c19fc6a00fb19f",
                "e6716af0f3538687"
            ]
        ]
    },
    {
        "id": "e6716af0f3538687",
        "type": "exec",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "command": "node /home/pi/Project/syncFirestore.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync to Firestore",
        "x": 2170,
        "y": 1540,
        "wires": [
            [
                "74abea1b341b47ad"
            ],
            [],
            []
        ]
    },
    {
        "id": "74abea1b341b47ad",
        "type": "debug",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "name": "sync to firestore (report)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2530,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8fb08e4bec2e9cee",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "add +1 count test",
        "func": "var currentOrderId = flow.get(\"currentOrderId\") || null;\n\nvar sqlMsg = null;\n\n// Only count if an order is active\nif (currentOrderId) {\n        sqlMsg = {\n            topic: `UPDATE current\n                    SET counts = counts + 1\n                    WHERE orderId = '${currentOrderId}';`\n        };\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Counting...\" });\n    \n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Counting disabled\" });\n}\n\nreturn sqlMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "317ec6aaa27620e1"
            ]
        ]
    },
    {
        "id": "fbd27481b6aa8fb2",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "8fb08e4bec2e9cee"
            ]
        ]
    },
    {
        "id": "afd29a3c0d3c5e33",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "group": "53026aa3c68dea20",
        "page": "",
        "ui": "",
        "name": "Resume Button",
        "order": 4,
        "width": 3,
        "height": 2,
        "head": "",
        "format": "<template>\n  <v-container fluid class=\"pa-4 fill-height\">\n    <v-row class=\"fill-height\">\n      <v-col cols=\"12\" class=\"d-flex\">\n        <v-btn class=\"flex-grow-1 red-button\" @click=\"submitResume\" :disabled=\"!resumeProcess\" v-show=\"resumeProcess\">\n          <!-- Use mustache syntax to bind the value -->\n          Resume {{ resumeProcess?.orderId }}\n        </v-btn>\n      </v-col>\n    </v-row>\n  </v-container>\n</template>\n\n<script>\n  export default {\n  data() {\n    return {\n      resumeProcess: null,\n    };\n  },\n  watch: {\n    msg: {\n      handler(newMsg) {\n        let data = newMsg?.payload || newMsg;\n        if (typeof data === 'string') {\n          try { data = JSON.parse(data); } \n          catch (e) { return; }\n        }\n        if (data && data.type === \"resumeProcess\") {\n          // Set resumeProcess to the payload (which could be null or an object)\n          this.resumeProcess = data.payload;\n        }\n      },\n      immediate: true,\n      deep: true\n    }\n  },\n  methods: {\n    submitResume() {\n      if (!this.resumeProcess) return;\n      const p = this.resumeProcess;\n      const payload = {\n        productName: p.productName,\n        orderId: p.orderId,\n        batchId: p.batchId,\n        quantity: p.expectedQuantity,\n        start: p.start,\n        activePic: p.pic\n      };\n      const formattedOutput = `${payload.orderId},-,${payload.activePic.replace(/ /g, \"__SPACE__\")},-,${payload.batchId.replace(/ /g, \"__SPACE__\")},-,,-,${String(payload.quantity)}`;\n      this.send({ payload: formattedOutput });\n      this.$router.push({ path: \"/dashboard/process\", query: payload });\n    }\n  }\n};\n</script>\n\n<style scoped>\n  .fill-height {\n    height: 100%;\n  }\n\n  .red-button {\n    background-color: red !important;\n    color: white !important;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 540,
        "wires": [
            [
                "f74d78774be5cba9",
                "7088c57090ef3bb3",
                "e2665ae91d4e6dd2"
            ]
        ]
    },
    {
        "id": "b99ae93f87a0dbb3",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "resume",
        "mode": "link",
        "links": [
            "6f1d82a18b5a9cb1"
        ],
        "x": 935,
        "y": 840,
        "wires": []
    },
    {
        "id": "6f1d82a18b5a9cb1",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "resume",
        "links": [
            "b99ae93f87a0dbb3"
        ],
        "x": 805,
        "y": 540,
        "wires": [
            [
                "afd29a3c0d3c5e33"
            ]
        ]
    },
    {
        "id": "f1f9b173f649081c",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/checkResume.js",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "check resume",
        "x": 800,
        "y": 860,
        "wires": [
            [
                "b99ae93f87a0dbb3",
                "b6d79ea41b00e175"
            ],
            [],
            []
        ]
    },
    {
        "id": "9afa9c96f17d8eb9",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "finish",
        "mode": "link",
        "links": [
            "d3e1a422880e9b4c",
            "3c722e92013d3455"
        ],
        "x": 1195,
        "y": 1340,
        "wires": []
    },
    {
        "id": "d3e1a422880e9b4c",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "finish",
        "links": [
            "9afa9c96f17d8eb9"
        ],
        "x": 635,
        "y": 900,
        "wires": [
            [
                "f1f9b173f649081c"
            ]
        ]
    },
    {
        "id": "e2665ae91d4e6dd2",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "node /home/pi/Project/startresumeCounting.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "resume firestore",
        "x": 1160,
        "y": 540,
        "wires": [
            [
                "802002eaedf78b38",
                "74bebe911794e031"
            ],
            [],
            []
        ]
    },
    {
        "id": "802002eaedf78b38",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "andon",
        "mode": "link",
        "links": [
            "a8742f689401ac1a"
        ],
        "x": 1275,
        "y": 500,
        "wires": []
    },
    {
        "id": "a8742f689401ac1a",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "link in 1",
        "links": [
            "802002eaedf78b38",
            "cf2a75d4176873e3"
        ],
        "x": 2245,
        "y": 760,
        "wires": [
            [
                "916fbe10e7e43768"
            ]
        ]
    },
    {
        "id": "cf2a75d4176873e3",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "andon",
        "mode": "link",
        "links": [
            "a8742f689401ac1a"
        ],
        "x": 1725,
        "y": 560,
        "wires": []
    },
    {
        "id": "b6d79ea41b00e175",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "check resume result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 880,
        "wires": []
    },
    {
        "id": "e138d2bd04e01535",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "current orderId",
        "mode": "link",
        "links": [
            "49e5434e88b2ac4d"
        ],
        "x": 1325,
        "y": 800,
        "wires": []
    },
    {
        "id": "49e5434e88b2ac4d",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "link in 2",
        "links": [
            "e138d2bd04e01535"
        ],
        "x": 1725,
        "y": 1080,
        "wires": [
            [
                "721710bb58bfc8b5"
            ]
        ]
    },
    {
        "id": "721710bb58bfc8b5",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "query duration",
        "func": "var currentOrderId = flow.get(\"currentOrderId\") || null;\nvar sqlMsg = null;\n\n// if start is pressed\nsqlMsg = {\n    topic: `\n        SELECT duration\n        FROM log\n        WHERE orderId = '${currentOrderId}'\n        ORDER BY id DESC\n        LIMIT 1;\n    `};\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Retrieving counts from log\" });\n\nreturn sqlMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1080,
        "wires": [
            [
                "bd73336244d21918"
            ]
        ]
    },
    {
        "id": "bd73336244d21918",
        "type": "sqlite",
        "z": "f69312076bb95996",
        "mydb": "25c1914aaf26412a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "tastiwayDB",
        "x": 2050,
        "y": 1080,
        "wires": [
            [
                "3f1087b016cecf44"
            ]
        ]
    },
    {
        "id": "3f1087b016cecf44",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "send count value",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    const duration = msg.payload[0].duration;\n    node.status({ fill: \"green\", shape: \"dot\", text: \"duration \" + duration });\n\n    // Send to UI\n    msg.payload = duration;\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"duration 0\" });\n    msg.payload = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 1080,
        "wires": [
            [
                "c59dfe4ed5a3e147"
            ]
        ]
    },
    {
        "id": "3c722e92013d3455",
        "type": "link in",
        "z": "f69312076bb95996",
        "g": "c3495ec264fdf1d0",
        "name": "link in 3",
        "links": [
            "9afa9c96f17d8eb9"
        ],
        "x": 1915,
        "y": 1560,
        "wires": [
            [
                "e6716af0f3538687"
            ]
        ]
    },
    {
        "id": "9ff2a5ae0e4506f5",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "start process",
        "links": [
            "6cb56de36a3e267f"
        ],
        "x": 595,
        "y": 1160,
        "wires": [
            [
                "231d11e98ba1955a"
            ]
        ]
    },
    {
        "id": "74bebe911794e031",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "start process for resume",
        "mode": "link",
        "links": [
            "487259b276f55b37",
            "8e253c64873d540a"
        ],
        "x": 1335,
        "y": 540,
        "wires": []
    },
    {
        "id": "487259b276f55b37",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "start process for resume",
        "links": [
            "74bebe911794e031"
        ],
        "x": 475,
        "y": 1120,
        "wires": [
            [
                "55791e9227a46acc"
            ]
        ]
    },
    {
        "id": "2b906280ab491c3b",
        "type": "delay",
        "z": "f69312076bb95996",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "f1f9b173f649081c"
            ]
        ]
    },
    {
        "id": "619413be92ba7adc",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 1020,
        "wires": []
    },
    {
        "id": "55791e9227a46acc",
        "type": "delay",
        "z": "f69312076bb95996",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "231d11e98ba1955a"
            ]
        ]
    },
    {
        "id": "e4fc2d51ba5fad2a",
        "type": "exec",
        "z": "f69312076bb95996",
        "command": "cat /etc/machine_id_custom",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cat operstate",
        "x": 330,
        "y": 2380,
        "wires": [
            [
                "a967f6cac8f980f4"
            ],
            [],
            []
        ]
    },
    {
        "id": "a967f6cac8f980f4",
        "type": "function",
        "z": "f69312076bb95996",
        "name": "set machineId",
        "func": "global.set(\"machineId\", msg.payload);\nmsg.type = \"machineId\";    \nmsg.value = msg.payload;    \nnode.status({  text: \"Count: \" + msg.payload });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 2380,
        "wires": [
            [
                "2a91d81a648f4c2a"
            ]
        ]
    },
    {
        "id": "8afe4f29e954d378",
        "type": "inject",
        "z": "f69312076bb95996",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "e4fc2d51ba5fad2a"
            ]
        ]
    },
    {
        "id": "2a91d81a648f4c2a",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "machineId",
        "mode": "link",
        "links": [
            "8160c8fd05259cf9"
        ],
        "x": 665,
        "y": 2380,
        "wires": []
    },
    {
        "id": "8160c8fd05259cf9",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "machineId",
        "links": [
            "2a91d81a648f4c2a"
        ],
        "x": 335,
        "y": 1400,
        "wires": [
            [
                "70f1aace271b00c8"
            ]
        ]
    },
    {
        "id": "48c22faf28975cc3",
        "type": "link out",
        "z": "f69312076bb95996",
        "name": "currentCount",
        "mode": "link",
        "links": [
            "9a9b18ed3c101c0d"
        ],
        "x": 1425,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9a9b18ed3c101c0d",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "currentCount",
        "links": [
            "48c22faf28975cc3"
        ],
        "x": 345,
        "y": 1340,
        "wires": [
            [
                "70f1aace271b00c8"
            ]
        ]
    },
    {
        "id": "8e253c64873d540a",
        "type": "link in",
        "z": "f69312076bb95996",
        "name": "link in 4",
        "links": [
            "6cb56de36a3e267f",
            "74bebe911794e031"
        ],
        "x": 165,
        "y": 2320,
        "wires": [
            [
                "e4fc2d51ba5fad2a"
            ]
        ]
    },
    {
        "id": "842041398d673e06",
        "type": "ui-template",
        "z": "f69312076bb95996",
        "d": true,
        "group": "16a799820a185e70",
        "page": "",
        "ui": "",
        "name": "Old Finish",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div class=\"text-center pa-4\">\n        <v-btn class=\"finish-style\" width=\"100%\" @click=\"onFinishClick\">\n            Finish\n        </v-btn>\n\n        <v-dialog v-model=\"dialog\" width=\"700px\">\n            <v-card title=\"Confirm Finish\">\n                <v-card-text>\n\n\n                    <v-number-input   v-model=\"rejectQty\" :reverse=\"false\" controlVariant=\"default\" label=\"Rejected Quantity\"\n                        :hideInput=\"false\" :min=\"0\" :inset=\"false\"></v-number-input>\n                </v-card-text>\n\n                <v-card-actions class=\"actions-right\">\n\n                    <v-btn text size=\"large\" @click=\"dialog = false\">\n                        Cancel\n                    </v-btn>\n\n                    <v-btn size=\"large\" color=\"red\" variant=\"flat\" @click=\"submit\">\n                        Submit\n                    </v-btn>\n                </v-card-actions>\n            </v-card>\n\n        </v-dialog>\n    </div>\n</template>\n\n<script>\n    export default {\n  data() {\n    return {\n    dialog: false,\n    rejectQty: null,\n    };\n  },\n\n  methods: {\n    onFinishClick() {\n\n\n      // open dialog\n      this.dialog = true;\n    },\n    \n    submit() {\n      this.send({\n      payload: {\n      finished: true,\n      rejectQty: this.rejectQty ?? 0,\n      },\n      });\n\n      this.$root.$router.push(\"/production_plan\");\n      this.dialog = false;\n    }\n  },\n};\n</script>\n\n<style scoped>\n    .finish-style {\n        font-weight: 600;\n        color: white !important;\n        background: #e73c52 !important;\n        border: 0.1vw solid rgba(255, 255, 255, 0.2);\n        border-radius: 14px;\n        box-shadow:\n            0 4px 10px rgba(1, 39, 76, 0.4),\n            inset 0 0 12px rgba(255, 255, 255, 0.15);\n        text-transform: none;\n        letter-spacing: 0.5px;\n        font-size: calc(0.8vw + 0.4em);\n        padding: 0.6em 1.2em;\n        transition: all 0.25s ease;\n        cursor: pointer;\n    }\n\n    .finish-style:hover,\n    .finish-style:focus {\n        background: #b52f43 !important;\n        box-shadow:\n            0 6px 16px rgba(1, 39, 76, 0.5),\n            inset 0 0 14px rgba(255, 255, 255, 0.2);\n        border-color: rgba(255, 255, 255, 0.4);\n    }\n\n    .finish-style:active {\n        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);\n    }\n\n    .actions-right {\n        display: flex;\n        justify-content: flex-end;  \n        gap: 12px;                  \n        padding-right: 20px;         \n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "dfa16a8ce730845f",
        "type": "ui-event",
        "z": "f69312076bb95996",
        "ui": "d7416ec1d9513281",
        "name": "ui-event",
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "d073fb7d253936df"
            ]
        ]
    },
    {
        "id": "d073fb7d253936df",
        "type": "debug",
        "z": "f69312076bb95996",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1580,
        "wires": []
    }
]